body {
    margin: 0;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: sans-serif;
  }
  .stimulus {
    display: none;
    width: 300px;
    height: 300px;
  }
  .square {
    background-color: red;
  }
  .circle {
    border-radius: 50%;
    background-color: blue;
  }
  #text {
    display: none;
    margin: auto;
    font-size: 30px;
  }
  #startBtn {
    padding: 1em 2em;
    font-size: 1.2em;
  }
  #formContainer, #formContainer2 {
    display: none;
    text-align: center;
    margin-top: 2em;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    font-size: 24px;
  }
  input[type="range"] {
    width: 300px;
    touch-action: pan-y;
  }

   input[type='radio'] { 
     transform: scale(2); 
 }

  #formContainer2 input {
    margin-bottom: 30px;
 }

 #formContainer2 label{
  margin-left: 10px;
  font-size: 20px;
 }

  #submitBtn, #submitBtn2{
    width: 200px;
    height: 50px;
    font-size: 24px;
  }

  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 40px;
    height: 40px;
    background: #4285F4;
    cursor: pointer;
    border-radius: 50%;
    border: none;
    margin-top: -10px;
  }
  
  input[type="range"]::-moz-range-thumb {
    width: 40px;
    height: 40px;
    background: #4285F4;
    cursor: pointer;
    border-radius: 50%;
    border: none;
  }

  input[type="range"]::-webkit-slider-runnable-track {
    height: 10px;
    background: #ddd;
    border-radius: 5px;
  }

  input[type="range"]::-moz-range-track {
    height: 10px;
    background: #ddd;
    border-radius: 5px;
  }

  body.outdoor {
  background-image: url('images/86F97806-EB28-45F7-847C-B58515D81F64-17744-00000C94CD4863F1.jpg');
  background-size: cover;
}

body.indoor {
  background-image: url('images/7A5DF9E9-1D13-4253-B2B3-C8A8EFB58EA1-17744-00000C9411B4F45A.jpg');
  background-size: cover;
}
